<!DOCTYPE html><html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nous vous informons que l'utilisateur <%= @user.all.first_name.sample, @user.all.last_name.sample %> a rejoint votre événement sur Eventbrite.fr </h1>
    <p>
        Il a rejoint votre événement en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p> À très vite sur Eventbrite.fr !
  </body>
</html>